@font-face {
  font-family: "Simpsons";
  src: url("../fonts/Simpsonfont.ttf") format("truetype");
}

.hero {
  z-index: 1;
  height: 100vh;
  margin-top: -70px;
  background-image: url("../img/sky.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.bart {
  position: fixed;
  top: 150%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-title {
  font-family: Simpsons, sans-serif;
  font-size: 8rem;
  line-height: 150px;
  color: #eecc0b;
}

.hero-text button {
  padding: 50px;
  width: 250px;
  height: 70px;
  margin: 2em auto;
  border: 0.2em solid black;
  border-radius: 10px;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  text-align: center;
  cursor: pointer;
  background: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .hero {
    background-position: top;
    margin-top: 0;
  }

  .bart {
    width: 80vw;
  }

  .hero-title {
    font-size: 5rem;
    line-height: 90px;
    margin-bottom: 1.5em;
  }

  .hero-text {
    position: relative;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */
