@font-face {
  font-family: "Simpsons";
  src: url("../fonts/Simpsonfont.ttf") format("truetype");
}

.hero {
  z-index: 1;
  position: relative;
  background-image: url("../img/sky.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.hero-top-content {
  height: 100vh;
  position: relative;
}

.bart {
  z-index: -1;
  position: absolute;
  top: 150%;
  left: 30%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cut-out-bart {
  position: absolute;
  right: -10px;
  bottom: 0;
}

.hero-text {
  position: absolute;
  top: 20%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
}

.hero-title {
  font-family: Simpsons, sans-serif;
  color: #eecc0b;
}

/* Extra small devices (phones, 599px and down) */
@media only screen and (max-width: 599px) {
  .hero {
    background-position: top;
  }

  .bart {
    width: 80vw;
    left: 50%;
  }

  .cut-out-bart {
    height: 60vh;
  }

  .hero-title {
    font-size: 3.5rem;
    line-height: 90px;
    margin-bottom: 1.5em;
  }

  .hero-text {
    position: relative;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .hero {
    background-position: top;
  }

  .bart {
    width: 80vw;
    left: 50%;
  }

  .cut-out-bart {
    height: 70vh;
  }

  .hero-title {
    font-size: 7rem;
    line-height: 120px;
    margin-bottom: 1.5em;
  }

  .hero-text {
    position: relative;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .bart {
    top: 100%;
    left: 50%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .hero-title {
    font-size: 7rem;
    line-height: 120px;
    margin-top: 1em;
  }

  .bart {
    width: 50vw;
  }

  .cut-out-bart {
    height: 80vh;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .bart {
    width: 45vw;
    top: 200%;
  }

  .hero-title {
    font-size: 8rem;
    line-height: 150px;
    margin-top: 1em;
    margin-bottom: 0;
  }
}
