@font-face {
  font-family: "Simpsons";
  src: url("../fonts/Simpsonfont.ttf") format("truetype");
}

.hero {
  z-index: 1;
  height: 100vh;
  margin-top: -70px;
  background-image: url("../img/sky.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.bart {
  position: fixed;
  top: 150%;
  left: 30%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-title {
  font-family: Simpsons, sans-serif;
  color: #eecc0b;
}

.button-search {
  width: 250px;
  height: 70px;
  margin: 2em auto;
  border: 0.2em solid black;
  border-radius: 10px;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  text-align: center;
  cursor: pointer;
  background: none;
  font-weight: bold;
}

/* Extra small devices (phones, 599px and down) */
@media only screen and (max-width: 599px) {
  .hero {
    background-position: top;
    margin-top: 0;
  }

  .bart {
    width: 80vw;
    left: 50%;
  }

  .hero-title {
    font-size: 4rem;
    line-height: 90px;
    margin-bottom: 1.5em;
  }

  .hero-text {
    position: relative;
  }

  .button-search {
    width: 65vw;
    height: 6vh;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .hero {
    background-position: top;
    margin-top: 0;
  }

  .bart {
    width: 80vw;
  }

  .hero-title {
    font-size: 7rem;
    line-height: 120px;
    margin-bottom: 1.5em;
  }

  .hero-text {
    position: relative;
  }

  .button-search {
    width: 40vw;
    height: 5vh;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .bart {
    top: 100%;
    left: 50%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .hero-title {
    font-size: 7rem;
    line-height: 120px;
    margin-top: 1em;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .hero {
    margin-top: -120px;
  }

  .bart {
    width: 50vw;
    top: 200%;
  }

  .hero-title {
    font-size: 8rem;
    line-height: 150px;
    margin-top: 1em;
    margin-bottom: 0;
  }

  .button-search {
    width: 225px;
    height: 50px;
  }
}
