.input-search {
  width: 70vw;
  height: 100px;
  position: relative;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

input {
  background-color: transparent;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  border: 0 solid;
  border-bottom: 1px solid black;
}

*:focus {
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  margin-bottom: 5em;
}

li {
  list-style-type: none;
}

.card {
  width: 315px;
  height: 450px;
  position: relative;
  margin: 2em auto;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
}

.card-header {
  height: 250px;
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card-header:after {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 40, 218, 1) 0%,
    rgba(0, 212, 255, 0.38139005602240894) 100%
  );
}

.card-body {
  text-align: center;
}

.quote {
  font-size: 1rem;
  font-weight: bold;
  margin: 1.5em 1em;
  line-height: 20px;
  font-style: italic;
}

.name {
  font-size: 1rem;
  font-weight: 700;
  text-align: right;
  text-transform: uppercase;
  margin-top: 1em;
  margin-right: 1.5em;
}
