*:focus {
  outline: none;
}

.search-wrapper {
  height: 100vh;
}

input {
  background-color: transparent;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  border: 0 solid;
  border-bottom: 1px solid black;
}

input:focus::placeholder {
  color: transparent;
}

li {
  list-style-type: none;
}

.input-container {
  margin-top: 100px;
}

.input-search {
  width: 70vw;
  height: 100px;
  position: relative;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loading {
  display: table;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

.loading-homer {
  width: 100%;
}

.loading-text {
  padding-top: 30px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  margin-bottom: 5em;
}

.card {
  width: 315px;
  height: 450px;
  position: relative;
  margin: 2em auto;
}

.card-header {
  height: 250px;
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card-header:after {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 40, 218, 1) 0%,
    rgba(0, 212, 255, 0.38139005602240894) 100%
  );
}

.card-body {
  text-align: center;
}

.quote {
  font-size: 1rem;
  font-weight: bold;
  margin: 1.5em 1em;
  line-height: 20px;
  font-style: italic;
}

.name {
  font-size: 1rem;
  font-weight: 700;
  text-align: right;
  text-transform: uppercase;
  margin-top: 1em;
  margin-right: 1.5em;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 599px) {
  .input-container {
    margin-top: 30px;
  }

  .input-search {
    width: 80vw;
    height: 50px;
    font-size: 1rem;
  }

  .cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    width: 80vw;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .input-container {
    margin-top: 60px;
  }

  input {
    font-size: 1.5rem;
  }

  .input-search {
    width: 80vw;
    height: 50px;
  }

  .cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    width: 70vw;
    margin: 3em auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    width: 40vw;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    width: 25vw;
  }
}
